In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('data/Ecommerce Dataset.csv', low_memory=False)

In [15]:
df.

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.00,1.0,1950.00,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.00,1.0,240.00,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.00,1.0,2450.00,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.00,1.0,60.00,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.00,2.0,1110.00,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN
5,211137.0,canceled,7/1/2016,UK_Namkino All In One 200 Gms,80.00,1.0,80.00,100147448,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,6.0,NaN,NaN,NaN,NaN,NaN
6,211138.0,complete,7/1/2016,kcc_krone deal,360.00,1.0,60.00,100147449,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,7.0,NaN,NaN,NaN,NaN,NaN
7,211139.0,complete,7/1/2016,UK_Namkino Mix Nimco 400 Gms,170.00,1.0,170.00,100147450,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,6.0,NaN,NaN,NaN,NaN,NaN
8,211140.0,canceled,7/1/2016,Apple iPhone 6S 64GB,96499.00,1.0,96499.00,100147451,Mobiles & Tablets,\N,...,7.0,2016-7,7-2016,FY17,8.0,NaN,NaN,NaN,NaN,NaN
9,211141.0,canceled,7/1/2016,Apple iPhone 6S 64GB,96499.00,1.0,96499.00,100147452,Mobiles & Tablets,\N,...,7.0,2016-7,7-2016,FY17,8.0,NaN,NaN,NaN,NaN,NaN
10,211142.0,complete,7/1/2016,"GFC_Pedestal Myga Cross Base (Special Guard) 24""",5500.00,1.0,5500.00,100147453,Appliances,\N,...,7.0,2016-7,7-2016,FY17,9.0,NaN,NaN,NaN,NaN,NaN
11,211143.0,received,7/1/2016,BK1070200PL,210.00,1.0,366.00,100147454,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,10.0,NaN,NaN,NaN,NaN,NaN
12,211144.0,received,7/1/2016,BK1130200CF,156.00,1.0,366.00,100147454,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,10.0,NaN,NaN,NaN,NaN,NaN
13,211145.0,complete,7/1/2016,kcc_Sultanat,120.00,1.0,120.00,100147455,Home & Living,105259,...,7.0,2016-7,7-2016,FY17,11.0,NaN,NaN,NaN,NaN,NaN
14,211146.0,complete,7/1/2016,kcc_glamour deal,320.00,1.0,0.00,100147456,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,12.0,NaN,NaN,NaN,NaN,NaN
15,211147.0,canceled,7/1/2016,Assetmen_MD-346-M,1550.00,1.0,1550.00,100147457,Men's Fashion,105259,...,7.0,2016-7,7-2016,FY17,11.0,NaN,NaN,NaN,NaN,NaN
16,211149.0,complete,7/1/2016,cr_DATES WITH CASHEW-400 GM,420.00,1.0,1270.00,100147458,Soghaat,R-KHW-104406,...,7.0,2016-7,7-2016,FY17,13.0,NaN,NaN,NaN,NaN,NaN
17,211150.0,complete,7/1/2016,UK_Gift Box Mix Dry Fruit Sweets 500 Gms,360.00,1.0,1270.00,100147458,Soghaat,R-KHW-104406,...,7.0,2016-7,7-2016,FY17,13.0,NaN,NaN,NaN,NaN,NaN
18,211151.0,complete,7/1/2016,itter_AB 1199,490.00,1.0,1270.00,100147458,Beauty & Grooming,R-KHW-104406,...,7.0,2016-7,7-2016,FY17,13.0,NaN,NaN,NaN,NaN,NaN
19,211152.0,canceled,7/1/2016,RL_B005,899.25,1.0,2118.25,100147459,Home & Living,\N,...,7.0,2016-7,7-2016,FY17,14.0,NaN,NaN,NaN,NaN,NaN
20,211153.0,canceled,7/1/2016,bed&rest_S7,899.00,1.0,2118.25,100147459,Home & Living,\N,...,7.0,2016-7,7-2016,FY17,14.0,NaN,NaN,NaN,NaN,NaN
21,211154.0,canceled,7/1/2016,L&L_LLHLE8224S,320.00,1.0,2118.25,100147459,Home & Living,\N,...,7.0,2016-7,7-2016,FY17,14.0,NaN,NaN,NaN,NaN,NaN
22,211155.0,complete,7/1/2016,J&J_JJR-4,149.00,1.0,298.00,100147460,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,15.0,NaN,NaN,NaN,NaN,NaN
23,211156.0,complete,7/1/2016,J&J_JJR-20,149.00,1.0,298.00,100147460,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,15.0,NaN,NaN,NaN,NaN,NaN
24,211157.0,order_refunded,7/1/2016,D Lend a Helping Hand,1000.00,1.0,0.00,100147461,\N,\N,...,7.0,2016-7,7-2016,FY17,16.0,NaN,NaN,NaN,NaN,NaN
25,211158.0,order_refunded,7/1/2016,Mochika_M0001112-12,1913.00,1.0,3826.00,100147462,Men's Fashion,\N,...,7.0,2016-7,7-2016,FY17,17.0,NaN,NaN,NaN,NaN,NaN
26,211160.0,order_refunded,7/1/2016,Mochika_M0001112-8,1913.00,1.0,3826.00,100147462,Men's Fashion,\N,...,7.0,2016-7,7-2016,FY17,17.0,NaN,NaN,NaN,NaN,NaN
27,211162.0,complete,7/1/2016,SKMT_Blood Test,500.00,1.0,0.00,100147463,Others,\N,...,7.0,2016-7,7-2016,FY17,16.0,NaN,NaN,NaN,NaN,NaN
28,211163.0,complete,7/1/2016,SKMT_Medicine,100.00,5.0,0.00,100147463,Others,\N,...,7.0,2016-7,7-2016,FY17,16.0,NaN,NaN,NaN,NaN,NaN
29,211164.0,canceled,7/1/2016,sputnik_701/5-11,1500.00,2.0,3000.00,100147464,Men's Fashion,\N,...,7.0,2016-7,7-2016,FY17,18.0,NaN,NaN,NaN,NaN,NaN
30,211166.0,complete,7/1/2016,Ctees-Black Zip- Up Hoodie-XL,450.00,1.0,450.00,100147465,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,19.0,NaN,NaN,NaN,NaN,NaN
31,211168.0,complete,7/1/2016,Samsung Galaxy J5,20999.00,1.0,20999.00,100147466,Mobiles & Tablets,R-FSD-58130,...,7.0,2016-7,7-2016,FY17,20.0,NaN,NaN,NaN,NaN,NaN
32,211169.0,complete,7/1/2016,kcc_krone deal,360.00,1.0,360.00,100147467,Beauty & Grooming,R-FSD-58130,...,7.0,2016-7,7-2016,FY17,20.0,NaN,NaN,NaN,NaN,NaN
33,211170.0,refund,7/1/2016,Veet_4,165.00,1.0,300.00,100147468,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,21.0,NaN,NaN,NaN,NaN,NaN
34,211171.0,refund,7/1/2016,RS_Gulab jaman Tin,435.00,1.0,300.00,100147468,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,21.0,NaN,NaN,NaN,NaN,NaN
35,211172.0,canceled,7/1/2016,cr_PEANUT SALTY-200 GM,90.00,1.0,940.00,100147469,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,22.0,NaN,NaN,NaN,NaN,NaN
36,211173.0,canceled,7/1/2016,Oriflame_21557,850.00,1.0,940.00,100147469,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,22.0,NaN,NaN,NaN,NaN,NaN
37,211174.0,complete,7/1/2016,JBS_TAT-128,3672.00,1.0,3672.00,100147470,Home & Living,\N,...,7.0,2016-7,7-2016,FY17,23.0,NaN,NaN,NaN,NaN,NaN
38,211175.0,complete,7/1/2016,cr_PEANUT SALTY-200 GM,90.00,1.0,740.00,100147471,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,22.0,NaN,NaN,NaN,NaN,NaN
39,211176.0,complete,7/1/2016,Oriflame_21557,850.00,1.0,740.00,100147471,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,22.0,NaN,NaN,NaN,NaN,NaN
40,211177.0,order_refunded,7/1/2016,Ajmery_BRR-590-M,899.00,1.0,899.00,100147472,Men's Fashion,\N,...,7.0,2016-7,7-2016,FY17,24.0,NaN,NaN,NaN,NaN,NaN
41,211179.0,canceled,7/1/2016,HOS_GUCFW75,7400.00,1.0,11000.00,100147473,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,25.0,NaN,NaN,NaN,NaN,NaN
42,211180.0,canceled,7/1/2016,Lexon_LL116B-Blue,3600.00,1.0,11000.00,100147473,Mobiles & Tablets,\N,...,7.0,2016-7,7-2016,FY17,25.0,NaN,NaN,NaN,NaN,NaN
43,211182.0,complete,7/1/2016,kcc_Fantasy Perfumed Talcum Powder-200gm,143.00,1.0,168.00,100147474,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,22.0,NaN,NaN,NaN,NaN,NaN
44,211184.0,complete,7/1/2016,2Zee_SC6,225.00,1.0,168.00,100147474,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,22.0,NaN,NaN,NaN,NaN,NaN
45,211185.0,complete,7/1/2016,Q MOBILE Noir X20,4500.00,1.0,4500.00,100147475,Mobiles & Tablets,\N,...,7.0,2016-7,7-2016,FY17,26.0,NaN,NaN,NaN,NaN,NaN
46,211186.0,canceled,7/1/2016,rehaab_RJ160047,3156.00,1.0,6152.00,100147476,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,27.0,NaN,NaN,NaN,NaN,NaN
47,211187.0,canceled,7/1/2016,Farah_3-B,2996.00,1.0,6152.00,100147476,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,27.0,NaN,NaN,NaN,NaN,NaN
48,211188.0,canceled,7/1/2016,RS_Sohan Halwa Tin,300.00,2.0,2210.00,100147477,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,28.0,NaN,NaN,NaN,NaN,NaN
49,211189.0,canceled,7/1/2016,UK_Soan Papdi Original 250 Gms,150.00,2.0,2210.00,100147477,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,28.0,NaN,NaN,NaN,NaN,NaN

In [17]:
df = df.drop(['Unnamed: 21', 'Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1)

In [18]:
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,7-2016,FY17,2.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,7-2016,FY17,3.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,4.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,7-2016,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = df.drop(range(584525, 1048575))

In [20]:
df.tail()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
584520,905205.0,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206.0,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207.0,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208.0,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df = df.drop(584524)

In [22]:
df.tail()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
584519,905204.0,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1.0,849.0,100562385,Women's Fashion,NaN,...,cod,8/28/2018,Valid,699,2018.0,8.0,2018-8,8-2018,FY19,115320.0
584520,905205.0,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1.0,35899.0,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.0,8.0,2018-8,8-2018,FY19,115326.0
584521,905206.0,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584522,905207.0,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.0,8.0,2018-7,8-2018,FY19,113474.0
584523,905208.0,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2.0,652178.0,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.0,8.0,2018-7,8-2018,FY19,113474.0

## Problems to solve:
 * What is the best selling category?
 * Visualize payment method and order status
 * Find correlation between payment method and order status
 * Find a correlation between order date and item category
 * Find any hidden patterns that are counter intuitive for a layman
 * Can we predict number of orders, or item category or number of cusomers/amount in advance